.project {
  border: 2px solid var(--light-background);
  font-size: 20px;
  width: 400px;
  height: 320px;
  margin: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .project {
    width: 250px;
    height: 430px;
  }
}

.project p{
  padding: 6px;
  color: var(--light-font)
}

.project:hover {
  transition: 300ms;
  border: 2px solid var(--dark-accent);
}

.progress {
  pointer-events: none
}

p.red {
  font-weight: bold; 
  color: var(--red);
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: var(--light-accent);
  border: 2px solid var(--light-background);
  border-radius: 15px;
  width: 100px;
  margin: 5px;
}

.progress {
  pointer-events: none
}